.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;

  list-style-type: none;

  padding-left: 0;
  width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 426px) {
  .card-list {
    width: 420px;
  }
}

@media screen and (min-width: 768px) {
  .card-list {
    width: 630px;
  }
}

@media screen and (min-width: 1024px) {
  .card-list {
    width: 840px;
  }
}

@media screen and (min-width: 1440px) {
  .card-list {
    width: 1260px;
  }
}
